<head>
  <% if !current_user %>
    <meta http-equiv="refresh" content="0; url=/" />
  <% end %>
</head>

<h1>
  Edit Comment
</h1>

<div>
  <form action='/comments/<%= @id %>/edit' method='post'>
    <input type="hidden" name="_method" value="put">
    peep message:
    <textarea name="text"><%= @comment.text %></textarea>
    <input name='user_id' type='hidden' value="<%= session[:user_id] %>">
    <input type='submit' value='Submit'>
  </form>
</div>
