<head>
  <% if !current_user %>
    <meta http-equiv="refresh" content="0; url=/" />
  <% end %>
</head>

<h1>
  New Comment
</h1>

<div>
  <form action='/comments/<%= @peep.id %>' method='post'>
    peep message:
    <textarea name="text"></textarea>
    <input name='user_id' type='hidden' value="<%= session[:user_id] %>">
    <input type='submit' value='Submit Comment'>
  </form>
</div>
