  <div class="container">
    <div class="login">
      <div id=login_message>New to Chitter? Sign up</div>
      <form action='/users' method='post'>
        <p><input name='first_name' placeholder='First Name*' type='text'><p>
        <p><input name='last_name' placeholder='Last Name*' type='text'><p>
        <p><input name='username' placeholder='Username*' type='text'><p>
        <p><input name='email' placeholder="Email*" type='text' value='<%= @user.email %>'></p>
        <p><input name='password' placeholder='Password*' type='password'><p>
        <p><input type='submit' value='Sign up for Chitter!'><p>
      </form>
    </div>
  </div>
